/* GENERALI */
* {
    list-style: none;
}
.row{
    height: 100%;
}
img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
input{
    width: 100%;
    border: none;
}
i{
    margin: 0 10px;
    font-size: 20px;
    opacity: 0.5;
}
ul{
    padding-left: 0;
    background-color: white;
}
/* COSTRUZIONE SFONDO PAGINA */
body{
    background-color: rgb(190, 210, 209);
}
body>div:first-of-type{
    background-color: rgb(0, 190, 164);
    height: 200px;
}

.container{
    background-color: rgba(234, 234, 234, 0);
    z-index: 2;
    height: 100vh;
}
.container>.row{
    background-color: rgb(234, 234, 234);
    height: 90%;
}

/*------ LATO SINISTRO CON PROFILO E CHAT ------*/

.my-profile,.containerSearchUsers{
    margin: 10px 0;
}
/* Ricevi notifiche */
.notifiche{
    background-color: rgb(159, 216, 248);
    padding: 10px 0;
}
.notifiche > div:first-of-type{
    background-color:white ;
    border-radius: 100%;
}
.notifiche i{
    color:rgb(159, 216, 248);
    padding:20px 10px;

}


/* Barra per la ricerca delle chat */
.containerSearchUsers{
    position: relative;
}
#searchUsers{
    padding-left: 50px;
}
.iconSearchUsers{
    position: absolute;
    left: 15px;
    top: 3px;
}


/* lista chat */
li{
    border:1px solid rgb(234, 234, 234);
    border-right:none ;
    height: 80px;
    border-left: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
li:first-of-type{
    border-top: none;
    height: 40px;
    justify-content: center;
}
li:last-of-type{
    border-bottom: none;
}

.chats{
    padding-left: 0;
}
li>.fa-times{
    display: none;
}
li:hover>.fa-times{
    display: block;
}


/*--- CHAT ---*/
.col-8{
    border-left:2px solid rgb(190, 210, 209) ;
    height: 100%;
}

/* menu chat */
.menu-chat{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70px;
}

/* chat */
.chat{
    background-image: url(../img/mine.jpg);
}
.containerMessage{
    margin: 10px 0;
}
.messageSent,.messageReceived{
    background-size:cover;
    background-position: bottom;
    padding:0 20px 40px 20px ;
    word-wrap: break-word;
    max-width: 40%;
}
.messageSent span,.messageReceived span{
font-size: 10px;
}

.messageSent{
    background-image: url(../img/myBubble.png);
}
.messageReceived{
    background-image: url(../img/friendsBubble.png);
}

/* mandare messaggi */
.messenger{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(242, 238, 234);
}

